.calendar {
    width: 300px;
    border: 1px solid #ccc;
    padding: 30px 20px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.month {
    font-size: 25px;
    font-weight: bold;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #7898e5;
    padding: 5px 10px;
    border-radius: 20px;
}

.weekdays div {
    width: 30px;
    font-size: 14px;
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.days div.empty {
    color: #ccc;
    cursor: default;
}

.days div:hover {
    background-color: rgba(0, 119, 204, 0.42);
}

.days div.selected {
    background-color: #0077cc;
    color: #fff;
}

.calendar_button {
    background-color: #0077cc;
    color: #fff;
    border: 1px solid #0077cc;
    width: 40px;
    /*padding: 5px 5px;*/
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.calendar_button:hover {
    background-color: #005fa3;
    border: 1px solid #005fa3;
}
