.container {
    width: auto;
    height: 530px;
    margin: 50px 100px;
    background-color: #8AAAE3;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}

.container .calendar_container {
    margin: auto;
}